<!-- Modal -->
<div class="modal fade" id="cartilha_tjse">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cartilha informativa</h5>
      </div>
      <div class="modal-body">
        <iframe src="../assets/files/cartilha_chega_amar_nao_doi.pdf" width="100%" height="500"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- navbar-->
<header class="header">
  <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="navbar">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="assets/img/medeixe-logotipo.png" alt="" width="110">
      </a>
      <button class="navbar-toggler navbar-toggler-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link link-scroll active" href="#hero">Início<span class="sr-only">(current)</span></a></li>
          <li class="nav-item"><a class="nav-link link-scroll" href="#partnership">Parcerias</a></li>
          <li class="nav-item"><a class="nav-link link-scroll" href="#services">Serviços</a></li>
          <li class="nav-item"><a class="nav-link link-scroll" href="#information">Informativo</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- Hero Section-->
<section class="hero bg-top pt-5" id="hero" style="background: url(assets/img/banner-4.png) no-repeat; background-size: 100% 80%">
  <div class="container pt-5">
    <div class="row d-flex justify-content-around">
      <div class="col-lg-5 py-5">
        <h1>Download your best app </h1>
        <p class="my-4 text-muted">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>
        <ul class="list-inline mb-0">
          <li class="list-inline-item mb-2 mb-lg-0"><a class="btn btn-primary btn-lg px-4" href="#!"> <i class="fab fa-google-play me-3"></i>Google Play</a></li>
          <li class="list-inline-item"><a class="btn btn-primary btn-lg px-4" href="#!"> <i class="fab fa-app-store me-3"></i>App Store</a></li>
        </ul>
      </div>
      <div class="col-lg-6 ml-auto">
        <div class="device-wrapper mx-auto">
          <div class="device shadow" data-device="iPhoneX" data-orientation="portrait" data-color="black">
            <div class="screen"><img class="img-fluid" src="assets/img/Asset3.svg" alt=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="bg-center pt-5" id="about" style="background: url(assets/img/service-bg.svg) no-repeat; background-size: cover">
  <!-- Partnership -->
  <section class="py-5" id="partnership">
    <div class="text-center pt-5"><h3>Parceiros:</h3></div>
    <div class="container">
      <div class="text-center partner-grid">
        <div class="border p-4"><img src="assets/img/ufs_vertical_positiva.png" alt="" class="partner-img" /></div>
        <div class="border p-4"><img src="assets/img/Marca_IFS_vertical-01.png" alt="" class="partner-img" /></div>
        <div class="border p-4"><img src="assets/img/ssp-logo.png" alt="" class="partner-img" /></div>
      </div>
    </div>
  </section>
  <!-- Comunity Services -->
  <section class="about pt-5" id="services">
    <div class="container pt-5">
      <p class="h6 text-uppercase text-primary">A mulher vítima não está sozinha!</p>
      <h2 class="mb-5">Onde procurar ajuda em Sergipe?</h2>
      <div class="row pb-5 gy-4">
        <div class="col-lg-4 col-md-6">
          <!-- Services Item-->
          <div class="card border-0 shadow rounded-lg py-4 text-start">
            <div class="card-body p-5">
              <div class="svg-icon svg-icon-light" style="width:60px;height:60px;color:#ff904e">
                <fa-icon [icon]="faPhone" [styles]="{'height':'100%'}"></fa-icon>
              </div>
              <h3 class="h4 my-4">Central de Atendimento a Mulher - Ligue 180</h3>
              <p class="text-sm text-muted mb-0">
                Presta uma escuta e acolhida qualificada ás mulheres em situação de violência. A ligação é gratuita e o serviço funciona 24 horas
                por dia, todos os dias da semana.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <!-- Services Item-->
          <div class="card border-0 shadow rounded-lg py-4 text-start">
            <div class="card-body p-5">
              <div class="svg-icon svg-icon-light" style="width:60px;height:60px;color:#39f8d2">
                <fa-icon [icon]="faWhatsapp" [styles]="{'height':'100%'}"></fa-icon>
              </div>
              <h3 class="h4 my-4">Central de Atendimento a Mulher - Whatsapp</h3>
              <p class="text-sm text-muted mb-0">
                O ligue 180 também está disponível pelo Whatsapp. Para receber atendimento ou fazer denúncias, 
                basta o cidadão enviar mensagem para o número: <strong>(61) 9-9656-5008</strong>.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <!-- Services Item-->
          <div class="card border-0 shadow rounded-lg py-4 text-start">
            <div class="card-body p-5">
              <div class="svg-icon svg-icon-light" style="width:60px;height:60px;color:#8190ff">
                <fa-icon [icon]="faEarListen" [styles]="{'height':'100%'}"></fa-icon>
              </div>
              <h3 class="h4 my-4">CRAS ou CREAS - N. Sra. da Glória</h3>
              <p class="text-sm text-muted mb-0">
                Centro de Referência da Assistência Social - CRAS: <strong>(79) 9-9935-1768</strong><br>
                Centro de Referência Especializado de Assistência Social - CREAS: <strong>(79) 9-9896-8308</strong>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <!-- Services Item-->
          <div class="card border-0 shadow rounded-lg py-4 text-start">
            <div class="card-body p-5">
              <div class="svg-icon svg-icon-light" style="width:60px;height:60px;color:#8190ff">
                <fa-icon [icon]="faEarListen" [styles]="{'height':'100%'}"></fa-icon>
              </div>
              <h3 class="h4 my-4">Delegacia de Polícia Civil - N. Sra. da Glória</h3>
              <p class="text-sm text-muted mb-0">
                Telefone: <strong>(79) 9-9935-1768</strong><br>
                Delegada: <strong>(79) 9-9896-8308</strong><br>
                Endereço: <strong>Endereço: Rua da Palma, S/Nº, Centro, Nossa Senhora da Glória, CEP: 49.680-000</strong>
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <!-- Services Item-->
          <div class="card border-0 shadow rounded-lg py-4 text-start">
            <div class="card-body p-5">
              <div class="svg-icon svg-icon-light" style="width:60px;height:60px;color:#8190ff">
                <fa-icon [icon]="faEarListen" [styles]="{'height':'100%'}"></fa-icon>
              </div>
              <h3 class="h4 my-4">OAB/CDDM - </h3>
              <p class="text-sm text-muted mb-0">
                Telefone: <strong>(79) 9-9935-1768</strong><br>
                Delegada: <strong>(79) 9-9896-8308</strong><br>
                Endereço: <strong>Endereço: Rua da Palma, S/Nº, Centro, Nossa Senhora da Glória, CEP: 49.680-000</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  -->
  <section class="with-pattern-1 py-5" id="information">
    <div class="container py-5">
      <div class="row align-items-center mb-5 gy-5">
        <div class="col-lg-6"><img class="img-fluid w-100 px-lg-5" src="assets/img/stop_violence.svg" alt=""></div>
        <div class="col-lg-6">
          <h2>Chega! Amar não dói!</h2>
          <p class="text-muted">A mulher vítima não está sozinha e a culpa pela violência não é dela! Esta mulher precisa de ajuda!</p>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cartilha_tjse">
            Visualizar cartilha
          </button>
        </div>
      </div>
      <div class="row align-items-center gy-5">
        <div class="col-lg-6">
          <h2>Sinais que podem indicar que o relacionamento se tronará violento</h2>
          <p class="text-muted">Dolor sit amet consectetur elit sed do eiusmod tempor incididunt labore dolore magna aliqua enim ad minim veniam quis nostrud exercitation.</p>
          <ul class="list-check">
            <li class="text-muted mb-2">Comportamento controlador sob pretexto de cuidar, proteger ou oferecer segurança.</li>
            <li class="text-muted mb-2">Rápido envolvimento amoroso pode também sinalizar perigo.</li>
            <li class="text-muted mb-2">A pessoa violenta pode exigir que a parceira seja perfeita como esposa, mãe e amante.</li>
            <li class="text-muted mb-2">A mulher é isolada da família/amigos e é impedida de trabalhar e/ou estudar.</li>
            <li class="text-muted mb-2">A pessoa violenta mostra-se facilmente insultada, ferida em seus sentimentos ou enfurecida com o que considera injustiças contra si.</li>
            <li class="text-muted mb-2">O agressor poderá ser cruel, depreciativo, grosseiro. Tentará convencer sua parceira de que ela é estúpida, inútil e incapaz de fazer qualquer coisa sem ele, diminuindo sua autoestima.</li>
          </ul>
        </div>
        <div class="col-lg-6 text-center">
          <img src="../assets/img/cicloviolencia-withoutbg.png" alt="">
          <!-- <div class="row gy-4">
            <div class="col-lg-6 col-sm-6">
              <div class="card border-0 shadow rounded-lg text-start px-2">
                <div class="card-body px py-5">
                  <svg class="svg-icon" style="width:40px;height:40px;color:#ff904e">
                    <use xlink:href="#document-saved-1"> </use>
                  </svg>
                  <h3 class="h5 my-3">Online Marketing</h3>
                  <p class="text-sm mb-0 text-muted">Lorem ipsum dolor amet consectetur adipisicing.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="card border-0 shadow rounded-lg text-start px-2">
                <div class="card-body px py-5">
                  <svg class="svg-icon" style="width:40px;height:40px;color:#39f8d2">
                    <use xlink:href="#map-marker-1"> </use>
                  </svg>
                  <h3 class="h5 my-3">Track your move </h3>
                  <p class="text-sm mb-0 text-muted">Lorem ipsum dolor amet consectetur adipisicing.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="card border-0 shadow rounded-lg text-start px-2">
                <div class="card-body px py-5">
                  <svg class="svg-icon" style="width:40px;height:40px;color:#8190ff">
                    <use xlink:href="#arrow-target-1"> </use>
                  </svg>
                  <h3 class="h5 my-3">Market analysis</h3>
                  <p class="text-sm mb-0 text-muted">Lorem ipsum dolor amet consectetur adipisicing.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="card border-0 shadow rounded-lg text-start px-2">
                <div class="card-body px py-5">
                  <svg class="svg-icon" style="width:40px;height:40px;color:#ff634b">
                    <use xlink:href="#sorting-1"> </use>
                  </svg>
                  <h3 class="h5 my-3">Full Settings</h3>
                  <p class="text-sm mb-0 text-muted">Lorem ipsum dolor amet consectetur adipisicing.</p>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </section>
</section>
<!-- -->
<section class="p-0" id="testimonials" style="background: url(img/testimonials-bg.png) no-repeat; background-size: 40% 100%; background-position: left center">
  <div class="container text-center">
    <p class="h6 text-uppercase text-primary">Depoimentos</p>
    <h2 class="mb-5">O que estão falando de nós?</h2>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="swiper testimonials-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide h-auto">
              <div class="mx-3 mx-lg-5 my-5 pt-3">
                <div class="card shadow rounded-lg px-4 py-5 px-lg-5 with-pattern bg-white border-0">
                  <div class="card-body index-forward pt-5 rounded-lg">
                    <div class="testimonial-img"><img class="rounded-circle" src="img/avatar-1.jpg" alt="" width="100"/></div>
                    <p class="lead text-muted mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <h5 class="mb-0">Sarah Hudson</h5>
                    <p class="text-primary mb-0 text-sm">Tech Developer</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide h-auto">
              <div class="mx-3 mx-lg-5 my-5 pt-3">
                <div class="card shadow rounded-lg px-4 py-5 px-lg-5 with-pattern bg-white border-0">
                  <div class="card-body index-forward pt-5 rounded-lg">
                    <div class="testimonial-img"><img class="rounded-circle" src="img/avatar-2.png" alt="" width="100"/></div>
                    <p class="lead text-muted mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <h5 class="mb-0">Frank Smith</h5>
                    <p class="text-primary mb-0 text-sm">Tech Developer</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide h-auto">
              <div class="mx-3 mx-lg-5 my-5 pt-3">
                <div class="card shadow rounded-lg px-4 py-5 px-lg-5 with-pattern bg-white border-0">
                  <div class="card-body index-forward pt-5 rounded-lg">
                    <div class="testimonial-img"><img class="rounded-circle" src="img/avatar-1.jpg" alt="" width="100"/></div>
                    <p class="lead text-muted mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <h5 class="mb-0">Sarah Hudson</h5>
                    <p class="text-primary mb-0 text-sm">Tech Developer</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide h-auto">
              <div class="mx-3 mx-lg-5 my-5 pt-3">
                <div class="card shadow rounded-lg px-4 py-5 px-lg-5 with-pattern bg-white border-0">
                  <div class="card-body index-forward pt-5 rounded-lg">
                    <div class="testimonial-img"><img class="rounded-circle" src="img/avatar-2.png" alt="" width="100"/></div>
                    <p class="lead text-muted mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <h5 class="mb-0">Frank Smith</h5>
                    <p class="text-primary mb-0 text-sm">Tech Developer</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Scroll top button -->
<a class="scroll-top-btn" id="scrollTop" href="#!"><i class="fas fa-long-arrow-alt-up"></i></a>
<!--  -->
<footer class="with-pattern-1 position-relative pt-5">
  <div class="container py-5">
    <div class="row gy-4">
      <div class="col-lg-3"><img class="mb-4" src="img/logo.svg" alt="" width="110">
        <p class="text-muted">Site desenvolvido para o projeto de pesquisa intitulado: "Violência no Contexto doméstico e familiar, Segurança Pública e Saúde: tecnologia social à serviço das mulheres do semiárido sergipano.</p>
      </div>
      <div class="col-lg-2">
        <h2 class="h5 mb-4">Links Úteis</h2>
        <div class="d-flex">
          <ul class="list-unstyled d-inline-block me-4 mb-0">
            <li class="mb-2"><a class="footer-link" href="http://oabsergipe.org.br/comissoes/#1461937457193-697e0af9-b091">OAB/SE</a></li>
            <li class="mb-2"><a class="footer-link" href="https://www.gov.br/mdh/pt-br">Ministério da Mulher</a></li>
            <li class="mb-2"><a class="footer-link" href="http://www.observe.ufba.br/dados">Observatório Lei Maria da Penha</a></li>
      </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <h2 class="h5 mb-4">Serviços</h2>
        <div class="d-flex">
          <ul class="list-unstyled me-4 mb-0">
            <li class="mb-2"><a class="footer-link" href="#!">Início</a></li>
            <li class="mb-2"><a class="footer-link" href="#!">Parcerias</a></li>
            <li class="mb-2"><a class="footer-link" href="#!">Informativo</a></li>
            <li class="mb-2"><a class="footer-link" href="#!">Cartilha</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-5">
        <h2 class="h5 mb-4">Informações para Contato</h2>
        <ul class="list-unstyled me-4 mb-3">
          <li class="mb-2 text-muted">São Pedro n. 173, Bairro Bela Vista, Teresina/PI</li>
          <li class="mb-2"><a class="footer-link" href="cep:59269-097">CEP: 59269-097</a></li>
          <li class="mb-2"><a class="footer-link" href="mailto:Nova@example.com">medeixe180@gmail.com</a></li>
        </ul>
        <ul class="list-inline mb-0">
          <li class="list-inline-item"><a class="social-link" href="#!"><fa-icon [icon]="faFacebook"></fa-icon></a></li>
          <li class="list-inline-item"><a class="social-link" href="#!"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
          <li class="list-inline-item"><a class="social-link" href="#!"><fa-icon [icon]="faLinkedinIn"></fa-icon></a></li>
          <li class="list-inline-item"><a class="social-link" href="#!"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="copyrights">
    <div class="container text-center py-4">
      <p class="mb-0 text-muted text-sm">&copy; 2022, Nome do grupo ou empresa ou qualquer idéia. Template by <a href="https://bootstrapious.com/p/app-landing-page" class="text-reset">Bootstrapious</a>.</p>
      <!-- If you want to remove the backlink, please purchase the Attribution-Free License. See details in readme.txt or license.txt. Thanks!-->
    </div>
  </div>
</footer> 
